<ion-view view-title="{{ 'SCREENING_SCHEDULE' | translate }}">
    
    <ion-content class="events-box" overflow-scroll="true">
        
        <!-- Show if data not loaded -->
        <center ng-if="!days.length" class="padding">
            <button ng-click="loadSchedule()">{{ 'LOAD' | translate }}</button>
        </center>
        
        <!-- Navigation buttons -->
        <a class="prev-day" ng-show="days.length"><i class="ion-ios-arrow-back"></i></a>
        <a class="next-day" ng-show="days.length"><i class="ion-ios-arrow-forward"></i></a>

        <ion-slides options="sliderOptions">
   
            <ion-slide-page ng-repeat="day in days">
                
                <div class="nav-days">
                    {{day.date | formatDate}}
                </div>
                
                <ion-content>
                    
                    <ion-list class="events">

                        <ion-item class="item" 
                                  ng-repeat="event in day.events" 
                                  ng-class="eventClass(event)"
                                  href="#/tab/schedule/{{event.id}}">
                            <h2>
                                {{event.time}} 
                                <span class="location" ng-if="event.location_id">
                                    <i class="ion-ios-location"></i>
                                    {{getLocation(event.location_id)}} 
                                </span>
                            </h2>
                            
                            <p>{{event.title}}</p>
                            
                        </ion-item>

                    </ion-list>
                    
                </ion-content>
                
            </ion-slide-page>
                       
        </ion-slides>
                
        
    </ion-content>
    
</ion-view>