<ion-tabs class="tabs-icon-top">

    <ion-tab title="UFW" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
        <ion-nav-view name="tab-info"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'DESIGNERS' | translate }}" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/designers">
        <ion-nav-view name="tab-designers"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="{{ 'SCHEDULE' | translate }}" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/schedule">
        <ion-nav-view name="tab-schedule"></ion-nav-view>
    </ion-tab>

</ion-tabs>
