<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.ufw937334" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>UFW</name>
  <description>
        UFW application
    </description>
  <author email="e.nechehin@digital.umh.ua" href="http://tochka.net/">
      Tochka.net
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
  <preference name="phonegap-version" value="cli-5.1.1"/>
  <gap:plugin name="org.crosswalk.engine" source="pgb" version="1.3.0"/>
  <gap:plugin name="cordova-plugin-whitelist" source="npm"/>
  <gap:plugin name="org.apache.cordova.splashscreen" version="0.3.4"/>
  <gap:plugin name="com.danielcwilson.plugins.googleanalytics" version="0.6.1" />
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>

  <icon src="resources/android/icon/drawable-xhdpi-icon.png"/>
</widget>