* {
    font-family: 'Roboto', sans-serif;
}

a {
    color: #e21a22;
}

.button-block {
    display: block;
}

/* HP slider */
.update-box {
    padding-top: 32px;
    text-align: center;
}

.info-slider .scroll,
.info-slider .slider {
    height: 100%;
}

.info-slider .box {
    height: 100%;
    padding: 16px;
}

.main-slider ion-slide > div:first-child {
    height: 100%;
}

.img-splash {
    height:100%;
    background-color: #6F6D78; 
    background-size: cover;
    background-position: center top;
}

/* Toolbar */
ion-header-bar.bar {
    height: 56px;
}

ion-header-bar.bar-light.bar {
    background-color: #ebebeb;
}

ion-header-bar.bar .button {
    min-height: 56px;
    max-width: none;
    width: auto;
}

ion-header-bar.bar .button.button-clear {
    color: #757575;
}

ion-header-bar.bar .title {
    height: 55px;
}

ion-header-bar.bar.bar-header .button + .title {
    line-height: 57px;
}

.nav-bar-tabs-top ion-header-bar.bar {
    box-shadow: none;
}

.button.back-button.header-item {
    margin-left: 5px;
}

ion-header-bar.bar.bar-header .title.title-center {
    text-align: center;
    right: 35px;
}

/* Tabs */

.tabs-top > .tabs, 
.tabs.tabs-top {
    top: 56px;
}

ion-content.has-tabs {
    top: 56px;
    bottom: 73px;
}

ion-content.has-tabs-top {
    top: 129px;
}

.tabs-striped .tabs {
    /*border-bottom: none;*/
    border-bottom: 1px solid #dedede;
    box-shadow: none;
}

.tabs-icon-top .tab-nav {
    height: 73px;
    background-color: #f5f5f5;
}

.tab-item {
    padding: 15px 14px 17px;
}

.tabs-top.tabs-striped .tab-item.activated,
.tabs-top.tabs-striped .tab-item.tab-item-active,
.tabs-top.tabs-striped .tab-item.tab-item-active.activated {
    height: auto;
    margin-top: 0;
    margin-bottom: -1px;
    padding-bottom: 15px;
    border-bottom-color: #e21a22;
    border-bottom-width: 3px !important;
}

.tab-item .icon {
    height: 15px;
    font-size: 24px;
}

.tab-title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 44px;
}

/* List */
ion-list .list {
    padding-top: 8px;
    padding-bottom: 8px;
}

.item-avatar .item-content {
    padding-left: 72px;
    padding-top: 20px;
    padding-bottom: 24px;
    min-height: 56px;
}

.item-avatar .item-content > img:first-child {
    top: 10px;
}

.content.article {
    color: #333;
}

.content.article h3 {
    font-weight: normal;
    color: #e21a22;
}

/* Calendar */
.nav-days {
    position: relative;
    height: 56px;
    padding-top: 19px;
    background-color: #fff;
    border-bottom: 1px solid #dedede;
    text-align: center;
    text-transform: uppercase;
    color: #444;
    z-index: 2;
    overflow: hidden;
}

.nav-days .arrow-left,
.nav-days .arrow-right {
    position: absolute;
    display: block;
    top: 0;
    padding: 19px 16px;
    color: #444;
    font-size: 16px;
}

.nav-days .arrow-left {
    left: 8px;
}

.nav-days .arrow-right {
    right: 8px;
}

.nav-days.first .arrow-left,
.nav-days.last .arrow-right {
    display: none;
}

.events .list {
    padding-top: 64px;
    padding-bottom: 50px;
}

.events .list .past h2,
.events .list .past p,
.events .list .past .location{
    color: #bbb;
}

.events .list .current {
    background-color: #FCE4EC;
}

.events .list .current p {
    color: #000;
}

.events .list .location {
    display: inline-block;
    margin-left: 10px;
    color: #333;
    font-size: 14px;
    text-transform: uppercase;
    /*float: right;*/
}

.map-thumb {
    color: #757575;
    text-decoration: none;
    font-size: 13px;
}

.map-thumb img {
    max-width: 100%;
}

/* Responsive Hero img */
.hero {
    position: relative;
    height: 0;
    padding-bottom: 72%;
    overflow: hidden;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* Slider bullets */
.slider-pager {
    bottom: 0;
    height: auto;
    padding: 10px 0;
    background-color: rgba(255,255,255,0.7);
}

.slider-pager-page i {
    color: #888;
}

.slider-pager-page.active i {
    color: #e21a22;
}